In [1]:
import pandas as pd
data_df = pd.read_csv('data/hourly_wages.csv')

In [2]:
data_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [3]:
data_df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
target = data_df.wage_per_hour.as_matrix()
predictors = data_df.drop(['wage_per_hour'], axis=1).as_matrix()

In [10]:
n_cols = predictors.shape[1]

## My First Model

In [11]:
from keras.models import Sequential
from keras.layers import Dense

my_model = Sequential()
my_model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
my_model.add(Dense(100, activation='relu'))
my_model.add(Dense(1))

my_model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
dense_4 (Dense)                  (None, 100)           1000        dense_input_2[0][0]
____________________________________________________________________________________________________
dense_5 (Dense)                  (None, 100)           10100       dense_4[0][0]
____________________________________________________________________________________________________
dense_6 (Dense)                  (None, 1)             101         dense_5[0][0]
====================================================================================================
Total params: 11,201
Trainable params: 11,201
Non-trainable params: 0
____________________________________________________________________________________________________

In [12]:
my_model.compile(optimizer = 'adam', loss='mean_squared_error')

In [13]:
my_model.fit(predictors, target)

Epoch 1/10
534/534 [==============================] - 2s - loss: 102.3681
Epoch 2/10
534/534 [==============================] - 0s - loss: 34.1928
Epoch 3/10
534/534 [==============================] - 0s - loss: 24.5051
Epoch 4/10
534/534 [==============================] - 0s - loss: 22.1214
Epoch 5/10
534/534 [==============================] - 0s - loss: 21.8162
Epoch 6/10
534/534 [==============================] - 0s - loss: 21.4539
Epoch 7/10
534/534 [==============================] - 0s - loss: 22.5221
Epoch 8/10
534/534 [==============================] - 0s - loss: 21.3908
Epoch 9/10
534/534 [==============================] - 0s - loss: 21.0063
Epoch 10/10
534/534 [==============================] - 0s - loss: 20.8488

## Validation and Early Stopping

In [17]:
def get_new_model():
    my_model = Sequential()
    my_model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
    my_model.add(Dense(100, activation='relu'))
    my_model.add(Dense(1))
    my_model.compile(optimizer = 'adam', loss='mean_squared_error')
    return(my_model)
my_model = get_new_model()
my_model.fit(predictors, target, validation_split=0.3)

Train on 373 samples, validate on 161 samples
Epoch 1/10
373/373 [==============================] - 0s - loss: 42.2786 - val_loss: 33.6489
Epoch 2/10
373/373 [==============================] - 0s - loss: 26.8851 - val_loss: 34.4055
Epoch 3/10
373/373 [==============================] - 0s - loss: 21.4231 - val_loss: 26.0354
Epoch 4/10
373/373 [==============================] - 0s - loss: 20.7189 - val_loss: 25.6937
Epoch 5/10
373/373 [==============================] - 0s - loss: 20.3739 - val_loss: 26.1418
Epoch 6/10
373/373 [==============================] - 0s - loss: 20.1267 - val_loss: 25.9479
Epoch 7/10
373/373 [==============================] - 0s - loss: 19.6979 - val_loss: 25.8363
Epoch 8/10
373/373 [==============================] - 0s - loss: 19.7657 - val_loss: 25.3944
Epoch 9/10
373/373 [==============================] - 0s - loss: 19.4226 - val_loss: 26.6475
Epoch 10/10
373/373 [==============================] - 0s - loss: 19.8988 - val_loss: 24.9944

In [18]:
from keras.callbacks import EarlyStopping

early_stopping_monitor = EarlyStopping(patience=2)
my_model = get_new_model()
my_model.fit(predictors, target, validation_split=0.3, nb_epoch=20, callbacks=[early_stopping_monitor])

Train on 373 samples, validate on 161 samples
Epoch 1/20
373/373 [==============================] - 0s - loss: 28.5354 - val_loss: 31.7689
Epoch 2/20
373/373 [==============================] - 0s - loss: 21.5079 - val_loss: 25.6025
Epoch 3/20
373/373 [==============================] - 0s - loss: 20.4162 - val_loss: 26.5533
Epoch 4/20
373/373 [==============================] - 0s - loss: 20.3054 - val_loss: 25.1858
Epoch 5/20
373/373 [==============================] - 0s - loss: 20.2558 - val_loss: 25.8146
Epoch 6/20
373/373 [==============================] - 0s - loss: 19.7015 - val_loss: 26.2458
Epoch 7/20
373/373 [==============================] - 0s - loss: 19.8026 - val_loss: 24.9237
Epoch 8/20
373/373 [==============================] - 0s - loss: 19.9203 - val_loss: 24.5048
Epoch 9/20
373/373 [==============================] - 0s - loss: 19.3698 - val_loss: 24.8437
Epoch 10/20
373/373 [==============================] - 0s - loss: 19.0798 - val_loss: 25.0648
Epoch 11/20
373/373 [==============================] - 0s - loss: 19.0512 - val_loss: 24.5244

## Classification

In [20]:
titanic_data = pd.read_csv('data/titanic_all_numeric.csv')
titanic_data.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [25]:
from keras.utils.np_utils import to_categorical
target = to_categorical(titanic_data.survived)
predictors = titanic_data.drop(['survived'], axis=1).as_matrix()
n_cols = predictors.shape[1]

def get_classification_model(n_cols):
    model = Sequential()
    model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(100, activation='relu'))
    model.add(Dense(100, activation='relu'))
    model.add(Dense(2, activation='softmax'))
    
    model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    return(model)

my_model = get_classification_model(n_cols)
my_model.fit(predictors, target, validation_split=0.3, nb_epoch=20, callbacks=[early_stopping_monitor])

Train on 623 samples, validate on 268 samples
Epoch 1/20
623/623 [==============================] - 0s - loss: 1.2539 - acc: 0.5570 - val_loss: 0.5669 - val_acc: 0.7239
Epoch 2/20
623/623 [==============================] - 0s - loss: 0.6794 - acc: 0.6340 - val_loss: 0.5927 - val_acc: 0.6567
Epoch 3/20
623/623 [==============================] - 0s - loss: 0.6380 - acc: 0.6517 - val_loss: 0.5663 - val_acc: 0.6903
Epoch 4/20
623/623 [==============================] - 0s - loss: 0.6187 - acc: 0.6693 - val_loss: 0.5527 - val_acc: 0.7425
Epoch 5/20
623/623 [==============================] - 0s - loss: 0.5991 - acc: 0.6934 - val_loss: 0.5784 - val_acc: 0.6866
Epoch 6/20
623/623 [==============================] - 0s - loss: 0.6052 - acc: 0.6918 - val_loss: 0.5478 - val_acc: 0.7388
Epoch 7/20
623/623 [==============================] - 0s - loss: 0.6047 - acc: 0.6886 - val_loss: 0.6434 - val_acc: 0.6642
Epoch 8/20
623/623 [==============================] - 0s - loss: 0.6230 - acc: 0.6693 - val_loss: 0.6022 - val_acc: 0.7500
Epoch 9/20
623/623 [==============================] - 0s - loss: 0.5785 - acc: 0.7143 - val_loss: 0.5719 - val_acc: 0.6978

## Convolutional Networks (Working with Images)

In [28]:
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Flatten, Convolution2D, MaxPooling2D

nb_classes = 10

# the data, shuffled and split between train and test sets
(X_train, y_train), (X_test, y_test) = mnist.load_data()

# input image dimensions
img_rows, img_cols = 28, 28

# Using tf dim ordering
X_train = X_train.reshape(X_train.shape[0], img_rows, img_cols, 1)
X_test = X_test.reshape(X_test.shape[0], img_rows, img_cols, 1)
input_shape = (img_rows, img_cols, 1)

X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
X_train /= 255
X_test /= 255

print('X_train shape:', X_train.shape)
print(X_train.shape[0], 'train samples')
print(X_test.shape[0], 'test samples')

# convert class vectors to binary class matrices
Y_train = to_categorical(y_train, nb_classes)
Y_test = to_categorical(y_test, nb_classes)

X_train shape: (60000, 28, 28, 1)
60000 train samples
10000 test samples
____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
convolution2d_3 (Convolution2D)  (None, 26, 26, 16)    160         convolution2d_input_2[0][0]
____________________________________________________________________________________________________
activation_3 (Activation)        (None, 26, 26, 16)    0           convolution2d_3[0][0]
____________________________________________________________________________________________________
convolution2d_4 (Convolution2D)  (None, 24, 24, 16)    2320        activation_3[0][0]
____________________________________________________________________________________________________
activation_4 (Activation)        (None, 24, 24, 16)    0           convolution2d_4[0][0]
____________________________________________________________________________________________________
maxpooling2d_2 (MaxPooling2D)    (None, 12, 12, 16)    0           activation_4[0][0]
____________________________________________________________________________________________________
flatten_2 (Flatten)              (None, 2304)          0           maxpooling2d_2[0][0]
____________________________________________________________________________________________________
dense_34 (Dense)                 (None, 100)           230500      flatten_2[0][0]
____________________________________________________________________________________________________
dense_35 (Dense)                 (None, 10)            1010        dense_34[0][0]
====================================================================================================
Total params: 233,990
Trainable params: 233,990
Non-trainable params: 0
____________________________________________________________________________________________________
None
Train on 60000 samples, validate on 10000 samples
Epoch 1/5
60000/60000 [==============================] - 19s - loss: 0.1495 - acc: 0.9547 - val_loss: 0.0599 - val_acc: 0.9799
Epoch 2/5
60000/60000 [==============================] - 18s - loss: 0.0483 - acc: 0.9856 - val_loss: 0.0369 - val_acc: 0.9875
Epoch 3/5
60000/60000 [==============================] - 18s - loss: 0.0324 - acc: 0.9894 - val_loss: 0.0411 - val_acc: 0.9864
Epoch 4/5
60000/60000 [==============================] - 18s - loss: 0.0219 - acc: 0.9930 - val_loss: 0.0391 - val_acc: 0.9877
Epoch 5/5
60000/60000 [==============================] - 18s - loss: 0.0165 - acc: 0.9948 - val_loss: 0.0433 - val_acc: 0.9860

In [ ]:
# number of convolutional filters to use
nb_filters = 16
# size of pooling area for max pooling
pool_size = (2, 2)
# convolution kernel size
kernel_size = (3, 3)

model = Sequential()
model.add(Convolution2D(nb_filters, kernel_size[0], kernel_size[1],
                        border_mode='valid',
                        input_shape=input_shape))
model.add(Activation('relu'))
model.add(Convolution2D(nb_filters, kernel_size[0], kernel_size[1]))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=pool_size))

model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(nb_classes, activation='softmax'))

model.compile(loss='categorical_crossentropy',optimizer='adam', metrics=['accuracy'])

print(model.summary())
model.fit(X_train, Y_train, nb_epoch=5, validation_data=(X_test, Y_test))

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
convolution2d_5 (Convolution2D)  (None, 26, 26, 16)    160         convolution2d_input_3[0][0]
____________________________________________________________________________________________________
activation_5 (Activation)        (None, 26, 26, 16)    0           convolution2d_5[0][0]
____________________________________________________________________________________________________
convolution2d_6 (Convolution2D)  (None, 24, 24, 16)    2320        activation_5[0][0]
____________________________________________________________________________________________________
activation_6 (Activation)        (None, 24, 24, 16)    0           convolution2d_6[0][0]
____________________________________________________________________________________________________
maxpooling2d_3 (MaxPooling2D)    (None, 12, 12, 16)    0           activation_6[0][0]
____________________________________________________________________________________________________
flatten_3 (Flatten)              (None, 2304)          0           maxpooling2d_3[0][0]
____________________________________________________________________________________________________
dense_36 (Dense)                 (None, 100)           230500      flatten_3[0][0]
____________________________________________________________________________________________________
dense_37 (Dense)                 (None, 10)            1010        dense_36[0][0]
====================================================================================================
Total params: 233,990
Trainable params: 233,990
Non-trainable params: 0
____________________________________________________________________________________________________
None
Train on 60000 samples, validate on 10000 samples
Epoch 1/5
60000/60000 [==============================] - 18s - loss: 0.1445 - acc: 0.9561 - val_loss: 0.0451 - val_acc: 0.9858
Epoch 2/5
 3488/60000 [>.............................] - ETA: 16s - loss: 0.0462 - acc: 0.9868